[submodule "RF24-forked"]
	path = RF24-forked
	url = git@github.com:chacal/RF24-forked.git
[submodule "Adafruit_BMP280_Library"]
	path = Adafruit_BMP280_Library
	url = git@github.com:adafruit/Adafruit_BMP280_Library.git
[submodule "ArduinoINA219"]
	path = ArduinoINA219
	url = git@github.com:flav1972/ArduinoINA219.git
